<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale1.0">
        <link rel="stylesheet" href="../css/admin_transaksi.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <body>
        <nav class="sidebar">
            <div class="sidebar__top-content">
                <a href=""><img height="108px" width="192px" src="../picture/logo.png" alt=""></a>
            </div>
            <ul class="sidebar__links"style="margin-left: -20px; margin-top: -25px">

                <p class="main_nav">MAIN MENU</p>

                <li class="sidebar__link">
                    <a href="/admin-dash">
                        <i class='sidebar__link-icon bx bxs-home' ></i>
                        <span class="sidebar__link-name">Dashboard</span>
                    </a>
                </li>

                <li class="sidebar__link">
                    <a href="/admin-toko">
                        <i class='sidebar__link-icon bx bxs-store'></i>
                        <span class="sidebar__link-name">Profil Toko</span>
                    </a>
                </li>

                <li class="sidebar__link">
                    <a href="/admin-ongoing">
                        <i class='sidebar__link-icon bx bxs-cart alt'></i>
                        <span class="sidebar__link-name">Ongoing Order</span>
                    </a>
                </li>

                <li class="sidebar__link">
                    <a href="/admin-transaksi">
                        <i class='sidebar__link-icon bx bx-money-withdraw' style="color: #E76F51;"></i>
                        <span class="sidebar__link-name" style="color: #E76F51;">Transaksi</span>
                    </a>
                </li>

                <li class="sidebar__link">
                    <a href="/admin-produk">
                        <i class='sidebar__link-icon bx bxs-cube'></i>
                        <span class="sidebar__link-name">List Produk</span>
                    </a>
                </li>

            </ul>

            <div class="out">
                <a href="/home">
                    <button style="background-color: #2A9D8F;">Keluar Dari Toko</button>
                </a>
            </div>
        </nav>

        <div class="right">
            <h1 style="margin-left: 30px; margin-top: 60px;">Transaksi</h1>

            <form>
                <input class="search" type="text" placeholder="cari...     " style="float: inline-end; margin-right: 30px; margin-bottom: 30px; height: 35px; font-size: 16px;">
            </form>

            <div class="table-wrap" style="display: block;">
                <table>
                    <tr>
                      <th>ID</th>
                      <th>Customer</th>
                      <th>Tanggal</th>
                      <th>Produk</th>
                      <th>Total</th>
                      <th>Metode</th>
                      <th>Status</th>
                    </tr>
                    <% transaksi.forEach(trs => { %>
                     
                    <tr>
                      <td><%- trs.idJual %></td>
                      <td><%- trs.namaCustomer %></td>
                      <td style="max-width: 13vw;"><%- trs.tanggal %></td>
                      <td><%- trs.produk.namaProduk %> <%- trs.produk.banyakProduk %>kg</td>
                      <td>Rp<%- trs.totalHarga %></td>
                      <td><%- trs.metode %></td>
                      <td><%- trs.status %></td>
                    </tr>
                    <% }) %>
                  </table>
            </div>
        </div>

    </body>
