<!DOCTYPE html>
<html>
    <%- include('../reusables/head.ejs') %>
    </head>
    <%- include('../reusables/navbar') %>
    <div class="in">
        <div class="title">
            <h1>Keranjang</h1>
        </div>
        <script>
            function checkout(){
                window.location.href = "checkout";
            }
        </script>
    <% if (errMsg=='none') { %>
        <div>
            <ul class="chekoutLine">
                <li class="checkout" style="border: none;">
                    <div class="checkoutTitle">
                        <div class="checkoutTitleLine" id="product">
                            <h2>Produk</h2>
                        </div>
                        <div class="checkoutTitleLine" id="quantity">
                            <h2>Kuantitas</h2>
                        </div>
                        <div class="checkoutTitleLine" id="price">
                            <h2>Harga</h2>
                        </div>
                        <div class="checkoutTitleLine" id="subtotal">
                            <h2>Subtotal</h2>
                        </div>
                    </div>
                </li>

                <% if (cart==null) { %>
                    <p>Kamu belum memasukkan produk ke dalam keranjang</p>
                    <button onclick="window.location.href = '/homeload'" type="button" class="buy">Beli Sekarang!</button>
                <% } else { %>
                    <% cart.forEach((product,i)=>{ %>                     
                        <li class="checkout">
                            <div class="checkoutContainer" id="product">
                                <div id="checkoutImg">
                                    <img src="/uploads/<%= product[0].productImgURL %>" alt="Gambar produk">
                                </div>
                                <div id="checkoutProduct">
                                    <div id="productName">
                                    <h3><%- product[0].productName %></h3>
                                    </div>
                                    <div id="remain">
                                    <p>tersedia :</p><p id="remain<%= i %>"><%- product[0].productAmount %> kg</p>
                                    </div>
                                    <div id="remove" onclick="document.getElementById('deCart<%= i %>').submit()">
                                    <form action="/deCart" method="post" id="deCart<%= i %>">
                                        <input type="text" value="<%= product[0].productId %>" name="productId" style="display: none;">
                                        <input type="button" id="removeItem" ><i class="fa-solid fa-trash"></i> hapus
                                    </form>
                                    </div>
                                </div>
                            </div>
                            <div class="checkoutContainer" id="quantity">
                                <form action="/chgAmount" method="post" id="chgAmount<%= i %>">
                                    <input type="text" value="<%= product[0].productId %>" name="productId" style="display: none;">
                                    <input type="text" name="kuantitas" id="item" class="item<%= i %>" value="<%= product[1] %>" onchange="checkWeight('<%= i %>')" >Kg
                                </form>
                                
                            </div>
                            <div class="checkoutContainer" id="price">
                                <p>Rp <%- (product[0].productPrice).toFixed(2).replace('.',',').replace(/\d(?=(\d{3})+\,)/g, '$&.')  %>/Kg</p>
                            </div>
                            <div class="checkoutContainer" id="subtotal">
                                <p>Rp <%- (product[0].productPrice * product[1]).toFixed(2).replace('.',',').replace(/\d(?=(\d{3})+\,)/g, '$&.') %></p>
                            </div>
                        </li>
                    <% }) %>
                    <script> 
                        function checkWeight(num){
                            let max = parseInt(document.getElementById('remain'+num).textContent)
                            
                            console.log(max)
                            console.log(document.getElementsByClassName('item'+num)[0].value)
                            if (document.getElementsByClassName('item'+num)[0].value > max){
                                window.alert('Pesanan melebihi stok')
                                document.getElementsByClassName('item'+num)[0].value = max
                            } 
                            document.getElementById('chgAmount'+num).submit()                                    
                        } 
                    </script>

                <% } %>
            </ul>
        </div>

        <% if (!(cart==null)) { %>
            <div class="coupon">
                <h3>Apakah Anda mempunyai kupon?</h3>
                <p>Masukkan kupon untuk mendapat diskon</p>
                <form action="cek database" id="applyCoupon">
                    <input type="text"placeholder="Masukkan kupon (opsional)" disabled>
                    <button type="button" disabled>Gunakan</button>
                </form>
            </div>
            <div class="checkoutF">
                <table>
                    <tr>
                        <td style="width: 150px;">Subtotal</td>
                        <% let price = cart.length == 1? [cart[0][0].productPrice*cart[0][1],1] : cart.map((a)=>{ 
                            return [ a[0].productPrice, a[1] ]}).reduce((a,b)=>{
                            return [ a[0]*a[1] + b[0]*b[1], 1]
                        })
                        
                        %>
                        <td>Rp <%- (price[0]).toFixed(2).replace('.',',').replace(/\d(?=(\d{3})+\,)/g, '$&.') %></td>
                    </tr>
                    <tr>
                        <td style="border-top: 0.5px solid black;">Total</td>
                        <td style="border-top: 0.5px solid black;"> Rp <%- price[0].toFixed(2).replace('.',',').replace(/\d(?=(\d{3})+\,)/g, '$&.') %>  </td>
                    </tr>
                </table>
                <div class="buy">
                    <button type="submit" onclick="checkout()">Bayar</button>
                </div>
            </div>
        <% } %>   
        


    <% } else { %>
        <p style="text-align: center;"><%- errMsg %></p>
        <div class="buy">
            <button onclick="window.location.href = '/login'" type="button">Login</button>
        </div>
    <% } %>
    </div>
</html>
