<!DOCTYPE html>
<html>
    <%- include('../reusables/head.ejs') %>
    </head>
    <%- include('../reusables/navbar') %>

    <body>
    <div class="in">
        <div class="report">
            <button id="reportButton" onclick="report()">Laporkan</button>
            <div id="reportPopUp" class="inv">
                <div id="exit" onclick="report()"><i class="fa-solid fa-xmark"></i></div>
                <label for="pelanggaran" class="popup">Pelanggaran</label>
                <input type="text" id="pelanggaran" placeholder="Pelanggaran yang dilakukan" required class="popup">
                <label for="deskripsiPelanggaran" class="popup">Deskripsi</label>
                <textarea name="deskripsiPelanggaranText" id="deskripsiPelanggaran" cols="50" rows="10" class="popup" placeholder="Deskripsi pelanggaran"></textarea>
                <button type="submit" class="popup">Laporkan</button>
            </div>

            <script>
                // buat popup laporkan
                function report(){
                    var report = document.getElementById ("reportPopUp");
                    report.classList.toggle("show");
                }
            </script>
        </div>

    <div class="productDescribe">
        <div class="productImg">
            <img src="/uploads/<%= product.productImgURL %>" alt="Gambar Produk">
        </div>
        <div class="describe">
            <div class="insDesc" id="product">
                <h1><%- product.productName %></h1>
            </div>
            <div class="insDesc" id="description">
                <p><%- product.productDesc %></p>
            </div>
            <div class="insDesc" id="stars">
                <p><i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i><%- product.productRating %></p>
            </div>
            <div class="insDesc" id="price">
                <h2>Rp <%- product.productPrice %>/Kg </h2>
            </div>
            <div class="insDesc" id="remain">
                <p>tesrsisa <%- product.productAmount %> Kg</p>
            </div>
            <div class="addToCart">
                <form action="/pembelian" method="post">
                    <input type="text" id="weight" placeholder="0" required style="width: 30px; height: 30px; text-align: center;" name="amount">
                    <input type="text" value="<%= product.productId %>" name="productId" style="display: none;">
                    <p>Kg</p>
                    <% if (errMsg == 'none') { %>
                        <button id="cart" type="submit">Masukkan ke Keranjang</button>
                        <% } else {%>
                        <button id="cart" onclick="window.location.href = '/login'" ><%- errMsg %></button>
                    <% } %>
                </form>

                <script> 
                    let weight = document.getElementById('weight')
                    let button = document.getElementById('cart')
                    weight.addEventListener('input', (e)=>{
                        if(weight.value > new Number('<%= product.productAmount %>')){
                            button.disabled = true
                            button.textContent = 'not enough stock'
                        }else{
                            button.disabled = false
                            button.textContent = 'Masukkan ke keranjang'
                        }
                    })        
                </script>

            </div>
            <div class="chat">
                <h3>Punya pertanyaan?</h3>
                <p style="margin: 3px;"><%- product.productSource %></p>
                <button id="chat"><a href="chat" >chat penjual</a></button>
            </div>
        </div>

    </div>

    <h1 style="margin-bottom: 5px; min-width: 500px; display: block;">Komentar Pembeli</h1>

    <ul class="reviewComment" style="list-style-type: none; padding: 0;position: relative;">
        <li id="person1" class="comment">
            <div class="imgProfile">
                <img src="../picture/defaultProfile.jpg" alt="">
            </div>
            <div class="nameRate">
            <h2 id="name">Tara</h2>
            <p id="date">18 November 2023</p>
            <p id="star"><i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
            </p>
            </div>
            <p id="comment">mantap bang</p>
        </li>
        
        <li id="person1" class="comment">
            <div class="imgProfile">
                <img src="../picture/defaultProfile.jpg" alt="">
            </div>
            <div class="nameRate">
            <h2 id="name">Naru</h2>
            <p id="date">17 November 2023</p>
            <p id="star"><i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: black"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: black"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: black;"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: black;"></i>
            </p>
            </div>
            <p id="comment">kualitas kurang</p>
        </li>

        <li id="person2" class="comment">
            <div class="imgProfile">
                <img src="../picture/defaultProfile.jpg" alt="">
            </div>
            <div class="nameRate">
            <h2 id="name">nama contoh: rara</h2>
            <p id="date">11 November 2023</p>
            <p id="star"><i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: black"></i>
            </p>
            </div>
            <p id="comment">sip</p>
        </li>

        <li id="person3" class="comment">
            <div class="imgProfile">
                <img src="../picture/defaultProfile.jpg" alt="">
            </div>
            <div class="nameRate">
            <h2 id="name">al</h2>
            <p id="date">10 November 2023</p>
            <p id="star"><i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
            </p>
            </div>
            <p id="comment">ok</p>
        </li>

        <li id="person4" class="comment">
            <div class="imgProfile">
                <img src="../picture/defaultProfile.jpg" alt="">
            </div>
            <div class="nameRate">
            <h2 id="name">Rama</h2>
            <p id="date">7 November 2023</p>
            <p id="star"><i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
                <i class="fa-solid fa-star" style="display: inline-block; color: rgb(230, 181, 59);"></i>
            </p>
            </div>
            <p id="comment">mantap</p>
        </li>
    </ul>
    
    </div>
    </body>
</html>
