<html>
    <ul>
            
        <script>
            function pembelian(productId){
                window.location.href = "pembelian?productId=" + productId;
                // console.log("pembelian?productId=" + productId)
            }
        </script>

        <% products.forEach(product => { %>

        <li class="blockDisplay">
            <div class="display" onclick="pembelian('<%= product.productId %>')">
                <div class="imgDisplay">
                    <img src="/uploads/<%= product.productImgURL %>" alt="Display katalog">
                </div>
                <div class="leftSect">
                    <p class="desc" style="margin-bottom: 0;">
                        <%- product.productName %>
                    </p>
                    <p class="desc" style="display: inline-block;">
                        <i class="fa-solid fa-star" style="display: inline-block; width: 10%;color: rgb(230, 181, 59);"></i>
                        <p style="display: inline-block; width: 40%; margin: 3px;"><%- product.productRating %></p>
                    </p>
                </div>
                <div class="rightSect">
                    <p class="desc">
                        Tersedia:
                    </p>
                    <p class="desc">
                        <%- product.productAmount %> Kg
                    </p>
                </div>
                <div class="harga">
                    <p>Rp <%- product.productPrice %></p>
                </div>
            </div>
        </li>
        <% }) %>>
    </ul>
</html>
